<h4>Current Weather</h4>
<div class="container-fluid">
  
  <form [formGroup]="currentWeatherForm">
    <div class="form-group">
      <label>Enter Zipcode Please</label>
      <input type="text" class="form-control" formControlName="zip">
    </div>
    <button type="submit" class="btn btn-primary" (click)="loadCurrentWeatherData()">Submit</button>
  </form> 

  <div>
    <ul *ngFor="let weatherDataModel of weatherDataList">
      {{weatherDataModel.cityZipCode}}
      {{weatherDataModel.cityName}}
      {{weatherDataModel.currentCondition}}
      {{weatherDataModel.description}}
      {{weatherDataModel.currentTemperature}}
      {{weatherDataModel.maxTemperature}}
      {{weatherDataModel.minTemperature}}
      {{weatherDataModel.icon}}
    </ul>
  </div>